html,body {
    background-color: darkcyan;
    font-family: 'Raleway', sans-serif;
}
.dok { margin-right: 2rem; 
    font-size: 50px;
    padding: 1rem;
    color: darkcyan;
    background-color: yellow;
    border-radius: 300px;
    font-weight: bold;
    width: 400px;
    margin-top: 1.5rem;
    height: 100px;
}

.dok:hover { 
    box-shadow: 3px 2px 1px 1px #598745b7;
    background-color: #598745;
    border: #598745 2px;
    color: yellow;
    width: 410px;
    font-size: 52px;
    height: 105px;
}
h1 {
    font-size: 100px ;  
    font-weight: bolder;
    margin-left: 0.5rem;
}
p {
    font-size: 2rem;
    font-weight: bold;
}